body {
  background-color: #a4243b !important;
}
.head-one {
  margin-top: 3vh !important;
  text-align: center;
  font-size: 2.7rem;
  color: #a4243b;
}
.form {
  background: #fff;
  margin: 0 auto !important;
  margin-top: 3vh !important;
  padding: 4vh 3vw 4vh 3vw;
  width: 38vw;
}
.form-btn-one {
  background-color: #a4243b !important;
  color: #fff !important;
  margin-top: 1vh !important;
  height: 7vh;
  width: 100% !important;
}
@media only screen and (min-width: 600px) {
  .form {
    width: 90vw;
  }
}
