/* #A4243B -- Red */
body {
  background: white;
}
/* NOTES TABLE */
#edit {
  background: #fff !important;
  box-shadow: none !important;
  padding: 0 !important;
  color: #a4243b !important;
  font-size: 1rem !important;
}
form.delete {
  display: inline;
}
#delete {
  background: #fff !important;
  box-shadow: none !important;
  padding: 0 !important;
  color: #a4243b !important;
  font-size: 1rem !important;
}
